//* Clasico CSS//*

*{
   padding: 0%;
   margin: 0%;
   }
    
    #head{display: flex; flex-direction: row; 
    justify-content: space space-between; align-items: center
    ;
    margin-right: 2%;}
    
    #head li,a, button{display: inline;}
    
    #titulo{color: black;
    padding-right: 160px;}
    
    li,a,button {
        font-family: 'Courier New', Courier, monospace, sans-serif
        ;
        font-weight: 500;
        font-size: 16px;
        color: black;
        text-decoration: none;
    }
    a:hover{transition: all 0.3s ease 0; color: #0088a9;}
    
    header{display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;}
    
    .logo{height: 50px; width: 50px; cursor: pointer;
    }
    
    .navl{list-style: none;}
    
    .navl li{
        display: inline-block;
        padding: 0px 20px;
    } 
    
    .navl li a {
        transition:  all 0.3s ease 0s;
    }
    
    .navl:hover{color: #0088a9}
    
    button{
        padding: 9px 5px;
        background-color: rgba(0, 136, 169, 1)
        ;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition:  all 0.3s ease 0s
    }
    
    button:hover{ background-color: rgba(0, 136, 169, 0.8)}

    //*aqui termina el clasico CSS//*

$color_black: black;
$background_black:#24252a;
@mixin flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.container {
    height:  100vh;
    @include flexbox;
    border-style: groove;
    ; background-color: #24252a;
    width: 75%; margin-left: 10%;
    height: 50%;

}

.card{ font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    ;
font-weight: bold;
height: 45rem;
width: 35rem;
margin: 1.2rem;
position: relative;
cursor: pointer;
overflow: hidden; 

& img {width: 100%;
position: absolute; transition: 1s; }

&:hover img{ scale:(1.1) ;
}

& .layer{
    text-align: center;
    position: relative;
    color: $color_black;
    letter-spacing: .05rem;
}

& h1{
    font-size: 3rem;
    margin-top: 5rem;
}

& p{ 
    font-size:  1.5rem;
    padding: 1.8rem 5rem;
}

& a{ text-decoration: none;
font-size: 1.3rem;
color: $color_black;

&:hover{
    text-decoration: underline; color: aliceblue;
}

}

 }